@import "config/color";
@import "components/all";
@import "components/box";
@import "components/table";
@import "components/bigdash";
@import "components/plotmodule";
@import "components/splashscreen.scss";
