@import "config/color";
@import "components/utils";
@import "components/all";
@import "components/bigdash";
@import "components/box";
@import "components/modal";
@import "components/table";
@import "components/welcome";
@import "components/plotmodule";
@import "components/splashscreen.scss";
@import "components/socialmedia.scss";
