@import "config/color";
@import "components/utils";
@import "components/all";
@import "components/bigdash";
@import "components/box";
@import "components/modal";
@import "components/table";
@import "components/welcome";
@import "components/plotmodule";
@import "components/splashscreen.scss";
@import "components/socialmedia.scss";
@import "components/progress.scss";
@import "components/dropdownmenu.scss";
@import "components/cards.scss";
@import "components/grid.scss";
