
/* font: google import [OPTIONAL] */
/* @import url("//fonts.googleapis.com/css?family=Roboto"); */

/* font */
body {
    font-family: "Arial";
    font-size: 12px;
    color: rgb(45,45,45);
}

/* font: fix for h6 */
/* messes up sidebar user section if included above */
.h6, h6 {
    font-family: "Arial";
}

/* table */
.well {
    background: rgba(39,128,227,0.1);
    border-radius: 0px;
    font-size: 11px;
    margin: -20px 0px 0px -15px;
    padding: 30px 15px 30px 20px;
}
