:root {
    --hover-color:  rgb(26,110,204);
    --hover-color: rgb(20,90,150);
    --main-color:  rgb(10,60,100);
    --accent-color:  rgb(255,140,0);
    --canvas-color:rgb(255,255,255);    
    --light-color: #dadada;
}

body {
//    font-family: "DINOT",sans-serif;
    font-size: 13px;
    font-weight: 400;
//    letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6 {
//    font-family: "DINAlternate-Bold",serif;
    font-weight: bold;
    line-height: normal;
}

.content {
    min-height: 800px;
    background: var(--canvas-color);
    padding-bottom: 85px;
}

.content-wrapper {
    background: var(--canvas-color);
}

.tab-content {
//    margin: -12px -12px -12px -12px;
}

.tabbable .tab-content {
//    background: white;
    padding: 25px 20px;
}

/* value boxes */
.vbox {
    background: var(--hover-color);
    color: white;
    margin: -10px 0px 0px 0px;
    border-top: 0px !important;
}

.box {
    border-color: var(--accent-color);
    border-top: 3px !important;
}

/* tabbox: title */
.nav-tabs-custom>.nav-tabs>li.header {
    color: rgb(45,45,45);
    font-size: 14px;
    font-weight: 800;
}

/* footer:  */
.main-footer {
    font-size: 11px;    
    background: #e8e8e8;
    padding: 10px 20px;
    color: #444;
    border-top: 1px solid #d2d6de;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 3rem 1rem;
    text-align: center;
    font-size: 0.8em;
}

[class*="col-lg-"],[class*="col-md-"],
[class*="col-sm-"],[class*="col-xs-"]{
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}


.nav-tabs>li>a {
    padding: 4px 12px;
    margin: 0px 0px;
    font-size: 14px;
    border-radius: 0px;
}

.nav-tabs>li.active {
    border-top: 3px solid var(--accent-color);
    margin-top: -3px;
}



.scrollable-element {
/*    scrollbar-color: red yellow; */
    scrollbar-color: dark;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}


#datainfo {
    background: #fcfcfc;
    font-size: 12px;
    padding: 20px 10px;
    line-height: 1em;
}


/* tooltip */
.tooltip-inner {
  background-color: #e0e0e0FF; 
  color: #3f3f3fFF; 
  border: 1px solid #9f9f9fFF;
  opacity: 1;
}

.tooltip-arrow-inner {
  background-color: #e0e0e0;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
}

code { 
  color: #1f1f1fFF;
  background-color: #F9F9F9FF;
  font-weight: 400;
}

.btn-social-icon {
    padding: 0px;
    width:  24px;
    height: 22px;
}

#social-buttons {
    position: fixed;
    font-weight: 300;
    font-size: 32px;
    color: #FFFFFF88;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
}


.shiny-output-error-validation {
        color: red;
}

.form-control {
    font-size: 12px;
    padding: 3px 3px;
    line-height: '70%';
}

.gene-info-output {
    font-size: 0.9em;
    background-color: #dde6f0BB;
    padding: 10px 10px 10px 10px;    
}

.action-text #sig_example1 #sig_example2 #sig_example3 {
    font-size: 0.9em;
    color: #2244AA;
    background-color: transparent;
    border-style: none;
    padding: 0
}

.btn:not(.box-header,dropdown) {
    color: white;
    background: var(--main-color);
    padding: 8px 15px;
    border-radius: 3px;
}

.btn:not(.box-header,dropdown):hover {
    background: var(--hover-color);
}


#load-action_play {
    color: white;
    background-color: #e45c00;
    height: 36px;
    background-image: none;    
}

#load-action_play:hover {
    color: white;
    background-color: #b44c00;
    background-image: none;    
}

.datatables {
    font-size: 12px; line-height: '70%';
}

.shiny-input-panel {
//    margin: -5px 0px -10px 0px;
//    padding: -10px -10px -10px -10px;
    font-color: #888;
    font-size: 0.8em;
}

.shiny-flow-layout {
    margin: 0px 0px -17px 0px;
    font-color: #888;
    font-size: 0.9em;
}


/* splash and modal */
#modal-splash {
    background-color: #2c81e2;    
}

.modal-body {
/*    background-color: #2c81e2; */
    border: 0px !important;
    padding: 0px !important;
}

.modal-backdrop {
    background-color: #000;
    background-color: #FFF;
}

.modal-backdrop.in {
    opacity: 0.5;
    opacity: 0.85;
}

.bg-cover-image {
  background-color: #fff;
}

/*
.box-header,dropdown .btn {
    color: #BBB;
    background-color: #FFF;    
    padding: 0px 0px;
}
*/

.box {
    border-top: 0px !important;
}

#file-menu,#options-menu {
    font-size: 15px;
    color: white;
    background-color: var(--main-color);    
    border: 0px;
}


.btn-social-icon {
    padding: 0px;
    width:  28px;
    height: 24px;
}

.fa-gear {
    color: #DDDDDD;
}

.btn-circle-xs, .btn-circle-xs:hover {
    background: #FFFFFF;
    color: #DDDDDD;
    border: 0px;
}

.dropdown-menu {
    background: #EFEEEE;
    font-size: 0.9em;
}

.module-label {
    color: #AAA;
    font-size: 17px;
    font-weight: 500;
    padding-right:8px;
}

.chart-wrapper .chart-notes {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3em;
}

.caption {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1em;
    position: relative;
    bottom: -10px;
}

.current-data {
    position: fixed; 
    font-weight: 200;
    font-size: 18px;
    color: rgba(255,255,255,100);
    top: 10px;
    right: 80px;
    z-index: 9999;
}

.poweredby {
    position: fixed;
    font-weight: 200;
    font-size: 12px;
    color: rgba(255,255,255,100);
    bottom: 10px;
    left: 10px;
    z-index: 9999;
}

.skin-blue .main-header .logo {
    background: rgb(120,120,120);
    background: var(--main-color);
}


/* sidebar: logo hover */
.skin-blue .main-header .logo:hover {
    background: rgb(120,120,120);
    background: var(--main-color);
}

/* sidebar: collapse button  */
.skin-blue .main-header .navbar .sidebar-toggle {
    color:rgb(220,220,220);
    background: var(--main-color);
}

/* sidebar: collapse button hover */
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background: var(--hover-color);
    color:rgb(220,220,220);    
}

/* header */
.skin-blue .main-header .navbar {
    background: var(--main-color);
    /*  box-shadow: 3px 5px 5px #dfdfdf; */
}

/* sidebar */
.sidebar {
    font-size: 13px;
    font-weight: 400;
}

/* sidebar logo area */
.skin-blue .main-sidebar {
    background: var(--light-color);
    background: var(--main-color);
}

/* global canvas background */
.skin-blue .wrapper {
    background-color: var(--light-color);
}

/* sidebar: tabs */
.skin-blue .main-sidebar .sidebar .sidebar-menu a {
    color: #333;
    color: #fff;
    font-size: 14px;
}

/* sidebar: tab selected */
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a {
    color: #fff;
    font-size: 14px;
    background: var(--main-color);
    background: var(--hover-color);
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
    color: #fff;
    border-radius: 0px;
    border-left-color: var(--accent-color);
}

/* sidebar: tab hovered */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover {
    background: var(--hover-color);    
    color: #fff;
}

/* right sidebar*/
.skin-blue .control-sidebar, .skin-blue .control-sidebar-bg  {
    font-size: 12px;    
    background: var(--light-color);
    box-shadow: 0px;
    padding-left: 10px;
    padding-right: 5px;
    padding-top: 80px;
    border-left: 0px;
    margin-right: 0px;    
}

/* right sidebar menu */
.skin-blue .control-sidebar .control-sidebar-tabs li {
    font-size: 12px;        
    white-space: nowrap;
    background: transparent;
    padding: 0px;
    border-radius: 0px;
}

