:root {
    --main-color:  #2780e3;
    --hover-color: #1967be;
    --dark-color:  rgb(10,60,100);
    /* --canvas-color:rgba(240,248,255,20); */
    --canvas-color:rgb(255,255,255);    
    /*  --light-color: rgb(220, 235, 245); */
    --light-color: #dde6f0;
}

body {
    // font-family: Arial;
    font-size: 13px;
    font-weight: 400;    
}

.content {
    min-height: 800px;
    // background: var(--canvas-color);
}


[class*="col-lg-"],[class*="col-md-"],
[class*="col-sm-"],[class*="col-xs-"]{
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

/* ---------------------------- template specfic -------------------------- */
/*
.tab-pane {
    background: white;
    padding: 10px 10px;
}
*/

/* space in innner tabpanes */
.tabbable .tab-content {
    /* margin: -12px -12px -12px -12px; */
    padding: 15px 20px; 
}

.tabbable .nav-tabs {
    padding: 0px;
    margin: 4px 0px;
    border-radius: 0px;
}

.nav-tabs>li>a {
    margin: 0px 0px;
    padding: 6px 12px;
    border-radius: 0px;
}

.nav-tabs>li.active {
    border-top: 3px solid var(--main-color);
    margin-top: -3px;
}

/* logo */
#navbar-logo {
    margin-left: -0px;
    margin-top: -23px;
}


/* upper navigation bar */
.navbar {
    margin-bottom: 4px !important;
}

.navbar-fixed-top {
    z-index: 0;
}

.navbar-default {
    color:rgb(220,220,220);
    background: var(--main-color);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background: var(--hover-color) !important;
}

.navbar .navbar-nav > .active > a {
    background: var(--hover-color) !important;
}

/* ---------------------------- playground -------------------------- */

/* value boxes */
.vbox {
    background: transparent;
    background: var(--main-color);
    color: white;
    margin: 0px 0px 0px 0px;
    border-top: 0px !important;
}

.box {
    border-top: 0px !important;
}

/* sidebar */
#sidebar.well {
    background: var(--light-color);
    border-radius: 0px;
    font-size: 12px;
    height: 900px;
    margin: -8px 0px 0px -5px;
    padding: 30px 15px 30px 15px;
}

#datainfo {
    background: #fcfcfc;
    font-size: 12px;
    padding: 20px 10px;
    line-height: 1em;
}

.well {
    font-size: 12px;
}


/* tooltips */
.tooltip-inner {
  background-color: #e0e0e0FF; 
  color: #3f3f3fFF; 
  border: 1px solid #9f9f9fFF;
  opacity: 1;
}

.tooltip-arrow-inner {
  background-color: #e0e0e0;
  color: #e0e0e0;
  border: 1px solid #e0e0e0;
}

.code { 
  color: #1f1f1fFF;
  background-color: #F9F9F9FF;
  font-weight: 400;
}

.gene-info-output {
    font-size: 0.9em;
    background-color: #dde6f0BB;
    padding: 10px 10px 10px 10px;
    overflow: auto;
    height: 260px;
}

.modal-body .gene-info-output {
    height: auto;
}

.datatables {
    font-size: 12px;
    line-height: '70%';
}

.dataTables_filter {
    float: left !important;
    text-align: left !important;
}

.bg-cover-image {
    background-color: #dde6f0;
    background-color: #fff;
}

.fa, .fas {
    line-height: 0px;  // keep buttons size equal
}

.fa-gear {
    color: #DDDDDD;
}


.btn-circle-xs, .btn-circle-xs:focus {
    background: #FFFFFF;
    color: #FFFFFF;
    color: #EEE;
    text-shadow: 0 0 0px #ccc;    
    border: 0px;
    border-radius: 3px !important;
}

.btn-circle-xs:hover {
    color: #444;
    border: 0px;
    border-radius: 3px;
}

.module-label {
    color: #AAA;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 600;
    padding-right: 8px;
}

.chart-wrapper .chart-notes {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.3em;
}

.caption,.caption2 {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1em;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    bottom: 0px;
}

.caption2 {
    padding: 10px 20px;
}

.table-caption {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1em;
    position: relative;
    padding: 5px 0px 10px 0px;
    bottom: 0px;
}

/* gene input area in signature module */
textarea.form-control {
    font-size: 11px !important;
    line-height: 1.0 !important;
    padding: 3px 3px;
}

.shiny-flow-layout {
    margin: 0px 0px -17px 0px;
    font-color: #888;
    font-size: 0.9em;
}

.shiny-input-panel {
    background-color: #fff;
    border: 0px solid #ddd;
    padding: 5px 8px 18px 8px;
/*    font-size: 10px !important; */
}

.shiny-input-panel .form-group {
    margin-bottom: -13px;
    margin-top: 4px;
}

.shiny-input-panel .checkbox, .shiny-input-panel .input[type="checkbox"] {
    font-size: 10px !important;
    margin-top: -1px;
    margin-bottom: 10px;    
}

.selectize-input {
    padding: 2px 12px !important;
    min-height: 26px !important;
}

.current-data {
    position: fixed;
    font-weight: 200;
    font-size: 18px;
    color: rgba(255,255,255,100);
    top: 12px;
    right: 30px;
    z-index: 9999;
}


/* ------------------- buttons -------------- */

.run-button,.load-button {
    outline: none;
    border-color: #1967be;
    box-shadow: 0 0 5px #1967be;
}


.action-button .fab .fa {
    font-size: 16px;
    margin-top: 0px;
}

.btn-social-icon {
    padding: 0px;
    width:  28px;
    height: 24px;
}

#social-buttons {
    position: fixed;
    font-weight: 300;
    font-size: 30px !important;
    color: #FFFFFF88;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
}

.radioGroupButtons {
    margin-top: -3px;
    margin-bottom: -3px;
}

.btn:hover, .btn:focus, .btn:active, .btn:active:hover {
    color: #333;
    // background-color: #0067c4;
    // border: 1px solid var(--main-color);
    border: 1px solid #999;
}

.dropdown-menu {
    background: #EFEEEE;
    font-size: 0.9em;
}

.dropdown-menu > li > a {
    padding: 0px 20px;
    margin: 4px 0px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #333;
}

/*

.btn, .btn-default {
    color: white;
    background-color: #0067c4AA;
    background-color: #4488dd;
    padding: 8px 15px;
    margin: 0px;
    border-radius: 3px;
}

.btn:hover, .btn:focus, .btn:active, .btn:active:hover {
    color: white;
    background-color: #0067c4;
}

.btn-default:active, .btn-default:hover, .btn-default:focus, .btn-default.active, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active:active, .open > .dropdown-toggle.btn-default {
    color: white;
    background-color: #0067c4;
}

*/

#load-action_play {
    color: white;
    background-color: #e45c00;
    background-image: none;    
}

#load-action_play:hover {
    color: white;
    background-color: #b44c00;
    background-image: none;    
}

/* splash screen */
#modal-splash {
    height: 500px;
    width: 100%;
    background-color: var(--main-color);
    padding: 0px !important;
}

#particles-target {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 500px;
    background-color: var(--main-color);    
}

.splash-title {
    padding: 2.3em 1em 0 60px;
    font-family: Lato;
    font-size: 72px;
    font-weight: 800;
    color: white;
    text-align: left;
    width: 1000;
}

.splash-subtitle {
    padding: 0.0em 1em 0 60px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 200;
    color: white;
    text-align: left;
}

/* modal dialogs */
.modal-content {
    border:0;
}

.modal-backdrop {
    background-color: #000;
    background-color: #FFF;
}

.modal-backdrop.in {
    opacity: 0.5;
    opacity: 0.85;
}

.bg-cover-image {
  background-color: #fff;
}

.popup-plot .modal-body {
    // padding: 20px;
}

.popup-plot .modal-footer {
    display: none;
}

.footer{
    position:absolute;
    right:0;
    left:0;
    bottom:0;
    padding:3rem 1rem;
    text-align:center;
    font-size:0.8em;
}

.action-text #sig_example1 #sig_example2 #sig_example3 {
    font-size: 0.9em;
    color: #2244AA;
    background-color: transparent;
    border-style: none;
    padding: 0
}

.action-text #sig_example1 #sig_example2 #sig_example3 {
    font-size: 0.9em;
    color: var(--dark-color);
    background-color: var(--light-color);
    border-style: none;
    padding: 0
}


