## Example configuration file for using Omics Playground with
## ShinyProxy. Copy this file to /etc/shinyproxy/application.yml on a
## Debian/Ubuntu system after installing shinyproxy from .deb. Then
## edit the users and container volume location for userdata.

proxy:
  title: Omics Playcloud ShinyProxy
  # logo-url: /opt/shinyproxy/logo.png
  landing-page: /app/omicsplayground
  heartbeat-rate: 10000
  heartbeat-timeout: 60000
  container-wait-time: 60000
  port: 8080
  hide-navbar: true
  authentication: simple
  #authentication: none
  admin-groups: admin
  
  # Example: 'simple' authentication configuration
  users:
  - name: free
    password: free
  - name: user1
    password: password
  - name: user2
    password: password
    
  # Docker configuration
  docker:
    cert-path: /home/none
    url: http://localhost:2375
    port-range-start: 20000

  # Applications
  specs:
  - id: 01_hello
    display-name: Hello Application (demo)
    description: Application which demonstrates the basics of a Shiny app
    container-cmd: ["R", "-e", "shinyproxy::run_01_hello()"]
    container-image: openanalytics/shinyproxy-demo
    access-groups: [admin]
  - id: omicsplayground
    display-name: Omics Playground 
    container-cmd: ["/usr/bin/shiny-server.sh"]
    container-image: bigomics/omicsplayground:latest
    container-volumes: ["/data/userpgx/#{proxy.userId}:/omicsplayground/data"]

logging:
  file:
    shinyproxy.log

spring:
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB

server:
  servlet.session.timeout: 3600  # in seconds
  