html {

  .content {
    min-height: 800px;
  }


  h2 {
      font-size: 1.85em;
  }

  h3 {
      font-size: 1.5em;
  }

  h4 {
      font-weight: 600;
      font-size: 1.2em;
  }

  #welcome-page {
    min-height: 100vh;
  }

  [class*="col-lg-"],
  [class*="col-md-"],
  [class*="col-sm-"],
  [class*="col-xs-"] {
    padding: 4px !important;
  }

  .control-label {
    margin-bottom: 0px;
    margin-top: 2px;
  }

  /* ---------------------------- template specfic -------------------------- */

  body {
      a {
	  color: $main;
	  text-decoration: none;
      }
      font-size: 14px;
  }

  /* space in innner tabpanes */
  .tabbable .tab-content {
//    padding: 15px 20px;
  }

  .tabbable .nav-tabs {
    padding: 0px;
    margin: 5px 0px 20px 10px;
    border-radius: 0px;
    font-size: 18px;
  }

  .nav-tabs>li>a {
    margin: 0px 20px 20px 0px;
    padding: 2px 0px;
    border-radius: 0px;
  }

  .nav-tabs > li.active {
    border-top: 3px solid $main;
    margin-top: -3px;
  }

  /* ---------------------------- playground -------------------------- */

  /* value boxes */

  .box {
    border-top: 0px !important;
  }

  #datainfo {
    background: #fcfcfc;
    font-size: 12px;
    padding: 20px 10px;
    line-height: 1em;
  }

  .well {
    font-size: 14px;
    line-height: 1.2em;
  }

  .code {
    color: #1f1f1fFF;
    background-color: #F9F9F9FF;
    font-weight: 400;
  }

  .gene-info-output {
    font-size: 0.9em;
    background-color: #dde6f0BB;
    padding: 20px 10px 10px 10px;
    overflow: auto;
    height: 680px;
  }

  .modal-body .gene-info-output {
    height: auto;
  }

  .bg-cover-image {
    background-color: #dde6f0;
    background-color: #fff;
  }

  .btn-circle-xs,
  .btn-circle-xs:focus {
    background: #FFFFFF;
    color: #DDD;
    text-shadow: 0 0 0px #ccc;
    border: 0px;
    border-radius: 3px !important;
  }

  .btn-circle-xs:hover {
    background-color: #fff;
    color: #444;
    border: 0px;
    border-radius: 3px;
  }

  .module-label {
    color: #AAA;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 600;
    padding-right: 8px;
  }

  .chart-wrapper .chart-notes {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.3em;
  }

  .caption, .caption2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2em;
//    position: relative;
    padding: 0rem 0.3rem 2rem 0.3rem;
//    bottom: 0px;
  }

  .caption2 {
    padding: 2.5rem 0 2rem 0;
    font-size: 1.5rem;
  }

  .current-user {
    position: fixed;
    font-weight: 200;
    font-size: 11px;
    color: rgba(255, 255, 255, 100);
    color: rgba(0, 0, 0, 100);
    top: 1px;
    right: 20px;
    z-index: 9999;
  }

  .current-dataset {
    padding: 8px 0vw;
    font-weight: 200;
    font-size: 16px;
    color: rgba(0, 0, 0, 100);
    text-align: left;
    min-width: 40vw;
  }

  .current-section {
    padding: 8px 0vw;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 100);
    text-align: center;
    min-width: 0vw;
  }

  /* ------------------- buttons -------------- */
  .run-button,
  .load-button {
    outline: none;
    border-color: #1967be;
    box-shadow: 0 0 5px #1967be;
  }

  .action-button .fab .fa {
    font-size: 16px;
    margin-top: 0px;
  }

  .btn-social-icon {
    padding: 0px;
    width: 28px;
    height: 24px;
  }

  #social-buttons {
    position: fixed;
    font-weight: 300;
    font-size: 30px !important;
    color: #FFFFFF88;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
  }

  .radioGroupButtons {
    margin-top: -3px;
    margin-bottom: -3px;
  }

  .modal-footer .btn {
    margin-left: 5px;
    margin-bottom: 0;
    font-size: 14px;
  }

  .btn-xl {
      padding: .3rem 1.5rem;
      margin: 20px;
      font-size: 2.0rem;
      border-radius: .3rem;
  }

  .red-button {
    color: white;
    background-color: #e45c00;
    background-image: none;
    border: 0px;
    padding: 8px 12px;
  }

  .red-button:hover,
  .red-button:focus,
  .red-button:active,
  .red-button:active:hover {
    background-color: #b44c00;
  }


  .blue-button {
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
  }

  .blue-button:hover,
  .blue-button:focus,
  .blue-button:active,
  .blue-button:active:hover {
    background-color: #286090;
    border-color: #204d74;
  }


  /* ---------- loading page ------------- */

  div#load-navheader {
//    padding: 0px 25px 0px 20px;
  }

  div#navheader-current-section {
    font-size: 30px;
    font-weight: 400;
    margin: 15px 0 5px 10px;
  }

  div#navheader-dataset-stats {
    margin: 16px 0px 0px 40px;
    font-size: 24px;
    color: #3181DE;
  }

  div#navheader-current-dataset {
    margin: 35px 10px 0px 0px;
    font-size: 14px;
    color: black;
  }

  .footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 3rem 1rem;
    text-align: center;
    font-size: 0.8em;
  }

  .action-text #sig_example1 #sig_example2 #sig_example3 {
    font-size: 0.9em;
    color: #2244AA;
    background-color: transparent;
    border-style: none;
    padding: 0
  }

  .action-text #sig_example1 #sig_example2 #sig_example3 {
    font-size: 0.9em;
    background-color: $light;
    border-style: none;
    padding: 0
  }

  #emailLinkWrapper {
    display: none;
    padding-left: 20rem;
  }

  .white {
    color: white;
  }

  // used in socialmedia popup
  textarea.form-control {
    font-size: 0.95em;
    line-height: 1.1em;
  }

}
