html {

  body {
      a {
	  color: $main;
	  text-decoration: none;
      }
      font-size: 14px;
/*    font-family: "Cubano"; */
  }

  .alert {
    margin-bottom: 0 !important;
  }

  .content {
    min-height: 800px;
  }

  h2 {
      font-size: 1.7em;
  }

  h3 {
      font-size: 1.5em;
  }

  h4 {
      font-weight: 600;
      font-size: 1.2em;
  }

  h5 {
      font-weight: 300;
      font-size: 1.2em;
  }

  .control-label {
    margin-bottom: 0px;
    margin-top: 2px;
  }

  hr {
      margin-top: 1.3rem;
      margin-bottom: 0.9rem;
  }

  .accordion-title {
      font-size: 1.05em;
      font-weight: 600;
  }

  .weblink {
      color: #789;
      padding-left: 5px;
  }
  
  /* ---------------------------- template specfic -------------------------- */

  .tabbable .nav-tabs {
    padding: 0px;
    margin: 5px 0px 20px 0px;
    border-radius: 0px;
    font-size: 18px;
  }

  .nav-tabs>li>a {
    margin: 0px 20px 20px 0px;
    padding: 2px 0px;
    border-radius: 0px;
  }

  .nav-tabs > li.active {
    border-top: 3px solid $main;
    margin-top: -3px;
  }

  /* ---------------------------- playground -------------------------- */

  /* value boxes */

  .box {
    border-top: 0px !important;
  }

  #datainfo {
    background: #fcfcfc;
    font-size: 12px;
    padding: 20px 10px;
    line-height: 1em;
  }

  .well {
    font-size: 14px;
    line-height: 1.2em;
    background: transparent;
  }

  .code {
    color: #1f1f1fFF;
    background-color: #F9F9F9FF;
    font-weight: 400;
  }

  .gene-info {
    font-size: 0.9em;
    line-height: 1.1em;
  }

  .bg-cover-image {
    background-color: #dde6f0;
    background-color: #fff;
  }

  .btn-circle-xs,
  .btn-circle-xs:focus {
    background: #FFFFFF;
    color: #DDD;
    text-shadow: 0 0 0px #ccc;
    border: 0px;
    border-radius: 3px !important;
  }

  .btn-circle-xs:hover {
    background-color: #fff;
    color: #444;
    border: 0px;
    border-radius: 3px;
  }

  .module-label {
    color: #AAA;
    font-family: "Arial";
    font-size: 18px;
    font-weight: 600;
    padding-right: 8px;
  }

  .chart-wrapper .chart-notes {
    font-size: 11px;
    font-weight: 400;
    line-height: 1.3em;
  }

  .caption {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.1em;
    // padding: 0rem 0.3rem 0.3rem 0.6rem;
    margin: 6px 4px 3px 6px;

    // https://stackoverflow.com/questions/33058004/applying-an-ellipsis-to-multiline-text
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

  }

  .caption2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.1em;
    padding: 2rem 0rem 0rem 0rem;
  }

  .current-user {
    position: fixed;
    font-weight: 200;
    font-size: 11px;
    color: rgba(255, 255, 255, 100);
    color: rgba(0, 0, 0, 100);
    top: 1px;
    right: 20px;
    z-index: 9999;
  }

  .current-dataset {
    position: relative;
    padding: 8px 0vw;
    font-weight: 200;
    font-size: 16px;
    color: rgba(0, 0, 0, 100);
    text-align: left;
  }

  .current-section {
    padding: 8px 0vw;
    font-weight: 400;
    font-size: 18px;
    color: rgba(0, 0, 0, 100);
    text-align: center;
    min-width: 0vw;
  }

  /* ------------------- buttons -------------- */

  .btn {
      --bs-btn-padding-x: 1.2em;
      --bs-btn-padding-y: 0.6em;      
  }
  
  .run-button,
  .load-button {
    outline: none;
    border-color: #1967be;
    box-shadow: 0 0 5px #1967be;
  }

  .action-button .fab .fa {
    font-size: 16px;
    margin-top: 0px;
  }

  .btn-social-icon {
    padding: 0px;
    width: 28px;
    height: 24px;
  }

  #social-buttons {
    position: fixed;
    font-weight: 300;
    font-size: 30px !important;
    color: #FFFFFF88;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
  }

  .radioGroupButtons {
    margin-top: -3px;
    margin-bottom: -3px;
  }

  .btn-xl {
      padding: .3rem 1.5rem;
      margin: 20px;
      font-size: 2.0rem;
      border-radius: .3rem;
  }

  .red-button {
    color: white;
    background-color: #e45c00;
    background-image: none;
    border: 0px;
    padding: 8px 12px;
  }

  .red-button:hover,
  .red-button:focus,
  .red-button:active,
  .red-button:active:hover {
    background-color: #b44c00;
  }


  .blue-button {
    color: white;
    background-color: #337ab7;
    border-color: #2e6da4;
  }

  .blue-button:hover,
  .blue-button:focus,
  .blue-button:active,
  .blue-button:active:hover {
    background-color: #286090;
    border-color: #204d74;
  }

  .quick-button {
    width: auto;
    background-color: white;
    padding: 2px 12px;
    font-size: 13px;
    color:#3181DE;
    margin: 6px 6px 6px 0px;
    height: 25px;
  }

  /* ---------- loading page ------------- */

  div#load-navheader {
//    padding: 0px 25px 0px 20px;
  }

  div#navheader-current-section {
    font-size: 30px;
    font-weight: 400;
    margin: 15px 0 5px 0px;
  }

  div#navheader-dataset-stats {
    margin: 22px 0px 0px 40px;
    font-size: 24px;
    color: #3181DE;
  }

  div#navheader-current-dataset {
    margin: 35px 10px 0px 0px;
    font-size: 14px;
    color: black;
  }

  .footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 3rem 1rem;
    text-align: center;
    font-size: 0.8em;
  }

  .action-text #sig_example1 #sig_example2 #sig_example3 {
    font-size: 0.9em;
    color: #2244AA;
    background-color: transparent;
    border-style: none;
    padding: 0
  }

  .action-text #sig_example1 #sig_example2 #sig_example3 {
    font-size: 0.9em;
    background-color: $light;
    border-style: none;
    padding: 0
  }

  #emailLinkWrapper {
    display: none;
    padding-left: 20rem;
  }

  .white {
    color: white;
  }

  // used in socialmedia popup
  textarea.form-control {
    font-size: 0.95em;
    line-height: 1.1em;
  }

  // used in loader
  .shiny-input-text.form-control {
    padding: .375rem .75rem;
    font-size: 0.85rem;      
    line-height: 1.1em;
  }

  .form-group {
      margin-bottom: 0.3rem; 
  }
  
}

// to work with mouse listeners, we need to remove pointer events from tooltips
.tooltip {
  pointer-events: none;
}

