html {

    h4 {
	font-weight: 600;
	font-size: 1.2em;
    }
    
    .nav-tabs .nav-link {
	color: #b8b8b8;
    }
    
    .nav-tabs .nav-link:hover {
	color: #555;
    }
    
    .dropdown-menu.show, .dropdown-menu.in {
	display: block;
	left: -71px;
	font-size: 1em;
    }
    
    /* sidebar */
    .sidebar-expanded {
	min-width: 12rem;
    }
    
    #sidebar-help-title {
	padding-top: 100px;
    }

    #sidebar-help-container {
	width: 11.5rem;
	font-size: 0.8em;
	line-height: 1.2em;
	background: url("assets/img/mascotte-sc.png") no-repeat;
	background-size: 80px 80px;
	background-position: 40px 25px;	
    }
    
    #sidebar-container {
	font-size: 1.1em;
	min-height: 96vh;
	background-color: rgba(0,0,0,0.03);
    }
    .sidebar-collapsed {
	min-width: 2.5rem;
	width: 2.5rem;	
    }
    .sidebar-content hr {
	margin: 0.5em 0;
    }
    
    /* settings */
    #settings-container {
	background-color: rgba(0,0,0,0.03);
    }
    
    .settings-expanded {
	min-width: 12rem;
    }
    
    .settings-collapsed {
	min-width: 2.5rem;
	width: 2.5rem;	
    }
    
}
