html {

    h4 {
        font-weight: 600;
        font-size: 1.2em;
    }


    #sidebar-help-title {
        padding-top: 10rem;
    }

    #sidebar-help-container {
        width: 11.5rem;
        font-size: 0.8em;
        line-height: 1.2em;
        background: url("assets/img/mascotte-sc.png") no-repeat;
        background-size: 5rem 5rem;
        background-position: 3.5rem 1.5rem;
    }

}