html {
  .valuebox-value{
    font-weight: 800;
    color: white;
    padding: 16px 0 0 0; 
    margin: 0 0 0 20px;
  }

  .valuebox-label {
    margin: 0 0 0 20px;
    font-weight: 400;
    color: white;
    padding-bottom: 25px
  }
}