html {
    
    .card {
        --bs-card-spacer-y: 0.6rem !important;
    }
    
    .caption {
        margin: 4px;   
    }
    
    .caption:hover {
        overflow: auto;
    }

    .card-header {
        border-bottom: 0px !important;
        height: 33px;
    }
    
    .card-footer {
        background-color: #F7FAFD;
        padding: 2px 0 0 2px;
        height: 3em !important;
        max-height: 3em !important;
        min-height: 3em !important;
        display: none;
    }
    
    .form-check.form-switch {
        font-size: 1em;
        float: left;
    }

    .form-check-input:checked {
        background-color: #4081dc;
        border-color: #b8ddff;
    }
}

.nav-pills {
    .nav-link {
	color: #888888;
    }

    .nav-link.active {
	color: black;
	background-color: #FFFFFF;
    }
    
}
