.btn.active {
  background-color: #fff;
  color: #444;
  border: 0px;
}

.dropdown-menu {
  margin: 5px 1px !important;
}

.dropdown-menu.show {
  font-size: 0.95em;
}

.dropdown-menu .form-group {
    margin-bottom: 0rem;
}

.shiny-download-link {
  background-color: white;
  border-color: lightgrey;
}
