
/* sidebar */
.sidebar-expanded {
    min-width: 15rem;
}

#sidebar-help-container {
    width: 14rem;
}

#sidebar-container {
    background-color: rgba(0,0,0,0.03);
}


/* settings */
#settings-container {
    background-color: rgba(0,0,0,0.03);
}

.settings-expanded {
    min-width: 15rem;
}

.settings-collapsed {
    width: 4rem;
}
