
h4 {
    font-weight: 600;
}

body {
    line-height: 1.1em;
}

html .nav-tabs .nav-link {
    color: #b8b8b8;
}

html .nav-tabs .nav-link:hover {
    color: #555;
}


.dropdown-menu.show, .dropdown-menu.in {
    display: block;
    left: -71px;
}


/* sidebar */
.sidebar-expanded {
    min-width: 15rem;
}

#sidebar-help-container {
    width: 14rem;
}

#sidebar-container {
    background-color: rgba(0,0,0,0.03);
}


/* settings */
#settings-container {
    background-color: rgba(0,0,0,0.03);
}

.settings-expanded {
    min-width: 15rem;
}

.settings-collapsed {
    width: 4rem;
}
