html {

    #shiny-modal {
        display: flex !important;
        margin: auto;
    }

    .modal-title {
	margin-left: auto;
	font-size: 2.2em;	
    }
    
    .modal-content .well {
	font-size: 1.3em;
	line-height: 1.2em;
	width: 100%;
    }

    .modal-dialog {
        box-shadow: 10px 10px 30px #999;
        display: flex !important;
        margin: auto;
        }

    .modal-dialog.modal-lg {
        width: 600px;
        justify-content: center;
        align-items: center;
    }

    .modal-dialog.modal-sm {
        width: 300px;
        justify-content: center;
        align-items: center;
    }


    .img-fluid{
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    .modal-content {
	border: 0;
    }

    .modal-backdrop {
	background-color: #000;
	background-color: #FFF;
    }

    .modal-backdrop.show,
    .modal-backdrop.in {
	opacity: 0.85;
    }

    .bg-cover-image {
	background-color: #fff;
    }

    .swal2-popup {
	font-size: 1rem !important; 
    }

}
