html {

    #shiny-modal {
        display: flex !important;
        margin: auto;
    }

    .modal-title{
	margin-right: auto;
	margin-left: auto;
	margin-top: -5px;
	margin-bottom: 5px;
	font-size: 2em;
	font-weight: 600;
    }
    
    .modal-content .well {
	font-size: 1.3em;
	line-height: 1.2em;
	width: 100%;
    }

    .modal-dialog {
        box-shadow: 10px 10px 30px #999;
        display: flex !important;
        margin: auto;
        }

    .modal-dialog.modal-lg {
        width: 640px;
        justify-content: center;
        align-items: center;
    }

    .modal-dialog.modal-sm {
        width: 300px;
        justify-content: center;
        align-items: center;
    }
    
    .modal-footer .btn {
	margin-left: 5px;
	margin-bottom: 0;
	font-size: 14px;
    }

    .img-fluid{
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    .modal-content {
	border: 0;
    }

    .modal-backdrop {
	background-color: #000;
	background-color: #FFF;
    }

    .modal-backdrop.show,
    .modal-backdrop.in {
	opacity: 0.85;
    }

    .modal-header
    
    
    .bg-cover-image {
	background-color: #fff;
    }

    .swal2-popup {
	font-size: 1rem !important; 
    }

    .modal-body {
	height: auto;
    }

    .sweet-alert p {
	color: black;
    }

    .modal-midscreen {
      width: 85vw !important;
      max-width: 100vw;
      height: 85vh;
    }

}
