html {
    //---------------- navbar ---------------------
    //hover on bigomics logo 
    #logo-bigomics:hover  {
        cursor: pointer;
    }
    
    /* ---------- loading page ------------- */
    
    div#navheader-current-section {
        font-size: 30px;
        font-weight: 400;
        margin: 15px 0 5px 0px;
    }
    
    div#navheader-dataset-stats {
        margin: 22px 0px 0px 40px;
        font-size: 24px;
        color: #3181DE;
    }
    
    div#navheader-current-dataset {
        margin: 35px 10px 0px 0px;
        font-size: 14px;
        color: black;
    }
    
    // ui
    .current-dataset {
        position: relative;
        padding: 8px 0vw;
        font-weight: 200;
        font-size: 16px;
        color: rgba(0, 0, 0, 100);
        text-align: left;
        min-width: 40vw;
    }
    
    .current-section {
        padding: 8px 0vw;
        font-weight: 400;
        font-size: 18px;
        color: rgba(0, 0, 0, 100);
        text-align: center;
        min-width: 0vw;
    }

    .current-user {
        position: fixed;
        font-weight: 200;
        font-size: 11px;
        color: rgba(255, 255, 255, 100);
        color: rgba(0, 0, 0, 100);
        top: 1px;
        right: 20px;
        z-index: 9999;
      }
    
    /*  dataview_module_geneinfo  */
    .gene-info {
        font-size: 0.9em;
        line-height: 1.1em;
    }
}