html {
    .plotmodule {
	padding: 5px 15px 50px 15px; 
    }
    
    .plotmodule-header {
	margin: 0px 0px 10px 0px;	
	height: 24px;
	border-bottom: 1px solid #ccc;
    }

    .plotmodule-title {
	padding: 0px 0px 0px 0px;	
	font-size: 16px;
    }

    .plotmodule-info {
	padding: 5px;	
	font-size: 15px;
	line-height: 1.2em;
    }

    .popup-plot > div {
        margin-left: auto;
        margin-right: auto;
    }

    .popup-plot-title{
	width: 100%;
	margin-left: 100%;
	margin-right: auto;
	font-size: 2.2em;	
    }
    
    .popup-plot > .modal-footer {
	display: none;
    }

    .tablemodule {
	padding: 5px 15px 50px 15px; 
    }
    
    .tablemodule-header {
	margin: 0px 0px 10px 0px;	
	height: 24px;
	border-bottom: 1px solid #ccc;
    }

    .tablemodule-title {
	padding: 0px 0px 0px 0px;	
	font-size: 16px;
    }

    .tablemodule-info {
	padding: 5px;	
	font-size: 15px;
	line-height: 1.2em;
    }
    
}
