html {
    .plotmodule {
	padding: 0px;
    }

    .plotmodule-header {
        padding: 5px 6px 5px 12px;
	border-bottom: 1px solid #ccc;
    }

    .plotmodule-title {
	font-size: 16px;
	margin-top: -1px;
    }

    .plotmodule-info {
	padding: 5px;
	font-size: 15px;
	line-height: 1.2em;
    }

    .plotmodule-references {
        padding-left: 10px;
    }

    .popup-modal > div {
        margin-left: auto;
        margin-right: auto;
    }

    .popup-modal .modal-title{
	font-size: 2.5em;
    }

    .popup-modal .modal-footer {
	display: none;
    }

    .popup-modal .modal-body {
	line-height: 1.5rem;	
    }

    // center contents
    .popup-plot > div {
	margin-left: auto;
	margin-right: auto;
    }

    /* -------------------------- TableModule ---------------------- */
    .tablemodule {
	padding: 0px;
    }

    .tablemodule-header {
        padding: 5px 6px 4px 12px;	
        border-bottom: 1px solid #ccc;
    }

    .tablemodule-title {
	font-size: 16px;
	margin-top: -1px;	
    }

    .tablemodule-info {
	padding: 5px;
	font-size: 15px;
	line-height: 1.2em;
    }

    .popup-table {
	width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .popup-table > div {
        margin-left: auto;
        margin-right: auto;
    }

    .popup-table-caption {
	width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


}
