html {
    .plotmodule {
	padding: 5px 15px 50px 15px; 
    }
    
    .plotmodule-header {
	margin: 0px 0px 10px 0px;	
	height: 24px;
	border-bottom: 1px solid #ccc;
    }

    .plotmodule-title {
	padding: 0px 0px 0px 0px;	
	font-size: 16px;
    }
}
