.popover-body {
    border: 1px solid;
    border-color: var(--bs-border-color-translucent);
    border-radius: .375rem;
}

.btn-active {
    background-color: #fff !important;
    color: #444 !important;
    border: 0px !important;
} 

.popover {
    max-width: 500px;
    min-width: 180px;
}
