html {
  .progress {
    border-radius: 0px;
    background-color: $light;
    box-shadow: none;
  }
  
  .progress-bar {
    background-color: #2780e3;
  }
  
  .shiny-notification {
    border-radius: 0px;
    background-color: $canvas;
  }

  .spinner-container {
    position: fixed;
    bottom: 5px;
    right: 10px;
    z-index: 999;
  }
  
  .spinner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}