html {
  .progress {
    border-radius: 0px;
    background-color: $light;
    box-shadow: none;
  }
  
  .progress-bar {
    background-color: #2780e3;
  }
  
  .shiny-notification {
    border-radius: 0px;
    background-color: $canvas;
  }

  .spinner-container {
    position: absolute;
    z-index: 999;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
  }
  .spinner-container .spinner-text {
    display: none;
    position: absolute;
    top: calc(50% + 30px);
    left: calc(50% + 1.5rem);
    transform: translate(-50%, -50%);
    white-space: nowrap;
    z-index: 1;
  }
  #spinner-container:hover .spinner-text {
    display: block;
  }

  #custom-progress-modal {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: black;
    padding: 30px 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    z-index: 1050;
    text-align: center;
  }

  #custom-progress-bar {
    height: 15px;
    background-color: #007bff;
    width: 40%;
    transition: width 0.3s ease;
    color: white;
    font-weight: bold;
    line-height: 25px;
    animation: pulse-blue 2s infinite;
    transform-origin: center;
  }

  @keyframes pulse-blue {
     0% { box-shadow: 0 0 8px 2px #007bff;
       transform: scale(1.2); }
     50% { box-shadow: 0 0 18px 8px #3399ff;
       transform: scale(1.4); }
     100% { box-shadow: 0 0 8px 2px #007bff;
       transform: scale(1); }
  }

  #custom-progress-container {
    width: 100%;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    overflow: hidden;
    margin-top: 15px;
  }
}