html {

	/* ------------------- splash screen ---------------------- */
	#modal-splash {
		height: 32rem;
		width: 100%;
		background-color: $primary;
		padding: 0px !important;
	}

	#particles-target {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 500px;
	}

	div#splash-fullscreen {
		background-color: #2780e3 !important;
		padding: 2rem;
	}

	#splash-logo2 {
		height: 3rem;
	}
}