html {

    #startup_modal {
	font-size: 1.1em;
	display: block;
	padding-left: 0px;
	height: auto;
	transform: translateY(25%);
	padding: 50px;
    }
    
    #startup_modal .modal-header {
	height: 55px;
    }

    #startup_modal .modal-title {
	padding-left: 100px;
    }

    #startup_modal .modal-dialog {
	width: 720px;
    }
    
    #startup_modal .carousel {
	interval: 10s;
    }

    #startup_modal .carousel-item {
	transition-duration: 1.3s;
    }

    #startup_modal .carousel-indicators {
	bottom: -20px;
    }

    #startup_modal .carousel-indicators button {
	background-color: #b6d3E888;
    }

    #startup_modal .carousel-control-next {
	width: 5%;
	right: -20px;
    }

    #startup_modal .carousel-control-prev {
	width: 5%;
	left: -20px;
    }
    
    #startup_modal .carousel-control-prev-icon, .carousel-control-next-icon {
//	background-color: #b6d3E888;
	filter: invert(0.3) sepia(1) saturate(2) hue-rotate(175deg)	
    }
	    
}
