html {

    .tablewidget {
	padding: 5px 15px 25px 15px;
    }

    .tablewidget-header {
	border-bottom: 1px solid #ccc;
	height: 24px;
	margin-bottom: 5px;
    }

    .table-caption {
	font-size: 13px;
	font-weight: 400;
	line-height: 1.1em;
	position: relative;
	padding: 5px 0px 10px 0px;
	bottom: 0px;
    }

    .datatables {
//	font-size: 13px;
//	line-height: '70%';
    }

    .dataTables_filter {
	//  float: left !important;
	// text-align: left !important;
	// margin-top: -30px;
    }

    div.dataTables_wrapper div.dataTables_filter {
	text-align: left;
    }

    .popup-table div.dataTables_wrapper div.dataTables_filter {
	text-align: left;
	font-size: 18px;
    }

    .popup-table div.dataTables_info {
	font-size: 18px;
    }

    div.dataTables_wrapper div.dataTables_filter input {
	width: 350px;
	background-color: #f7fafd;
    }

    // https://github.com/rstudio/DT/issues/951
/*    .dataTables.html-widget.html-widget-static-bound { 
	height: auto !important;
	width: 90vw !important;
    }
    .dataTables_scrollBody {
	height: unset !important;
    }    
*/
    
    table.dataTable {
	border-collapse: collapse !important;
    }

    table.dataTable td, table.dataTable th {
	border-bottom: solid 1px #aaa !important;
    vertical-align: middle;
//	border-style: none !important;
    }

    table.dataTable>thead>tr>th {
	font-size: 13px;
	padding: 0px 0px 4px 0px;
	line-height: 1em;
    }
    table.dataTable>tbody>tr>td {
	font-size: 13px;
	padding: 5px;
    }

    .popup-table table.dataTable>thead>tr>th {
	font-size: 18px;
    }
    .popup-table table.dataTable>tbody>tr>td {
	font-size: 16px;
	padding: 7px;
    }

    .table.dataTable tbody td.active, .table.dataTable tbody tr.active td {
	background-color: #e9ecef;
	color: black;
	font-weight: 600;
    }

    .icon_container {
        position: relative
    }
      
    .icon_nested {
    position: absolute;
    left: 1px;
    color: rgba(217, 83, 79, 1);
    }

    .blank_icon {
        color: transparent;
    }
    
    table.dataTable>tbody>tr.selected>* {
        --dt-row-selected: 204, 204, 204, 0.5;
        --dt-row-selected-text: 0, 0, 0;
    }
    table.dataTable>tbody>tr.selected:hover>* {
        background: rgba(204, 204, 204, 0.5);
    }

}
