html {

    /* -------------------  welcome screen ---------------------- */

    #init-load-data, 
    #init-upload-data {
	margin-right: 2rem;
    }
    
    #welcome-page {
	text-align: center;
	background-color: #f0f9fd;
	margin: 0px -15px 0px -15px;
	min-height: calc(100vh - 48px);
    }

    #welcome-text {
	font-size: 50px;
	font-weight: 600;
	color: #2484bb;
	padding-top: 340px;
	background: url("monster-hi.png") no-repeat;
	background-size: 350px 350px;
	background-position: 53% 0px;
    }
    
    .welcome-btn {
	padding: 10px 26px;
	margin-top: 20px;
	margin-left: 6px;
	font-size: 24px;
	width: 300px;
	color: black;
	border-width: 2.5px;
    }
    
    #welcome-subtext {
	padding: 0 25%;
	text-align: center;
	font-size: 1.1em;
	line-height: 1.4em;
    }

    
}
