html {

    /* -------------------  welcome screen ---------------------- */

    #init-load-data, 
    #init-upload-data {
	margin-right: 2rem;
    }
    
    #welcome-page {
	text-align: center;
	background-color: #f0f9fd;
	min-height: calc(100vh - 36px);
    }

    #welcome-text {
	font-size: 50px;
	font-weight: 600;
	color: #2484bb;
	padding-top: 300px;
	background: url("monster-hi.png") no-repeat;
	background-size: 300px 300px;
	background-position: 53% 0px;
    }
    
    .welcome-btn {
	padding: 10px 26px;
	margin-top: 20px;
	margin-left: 6px;
	font-size: 24px;
	width: 300px;
	color: black;
	border-width: 2.5px;
    }
    
    #welcome-subtext {
	padding: 0 25%;
	text-align: center;
	font-size: 1.8em;
	line-height: 1.4em;
    }

    #welcome-carousel {
	margin-top: 20px;
    }
    
    .welcome-slide {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	line-height: 1.4em;	
    }

    div#startup_modal .modal-content {
	background-color: #f0f9fd;
    }
    
}
