.wizard .wizard-nav.progress .wizard-step.active~.wizard-step {
  background-color: #ffffff !important; 
}

.wizard .wizard-nav.progress .wizard-step {
  background-color: #009C9F !important; 

}

.wizard .wizard-buttons {
  justify-content: space-between !important
}

.wizard .wizard-nav.dots .wizard-step .dot {
    top: -25px !important;
    height: 18px !important;
    width: 18px !important;
}

.wizard .wizard-content {
    transition: none;
    padding: 2rem 0 0rem 0 !important;
    height: 80vh !important;
}

.wizard .html-fill-container {
    min-width: 100%;
}

.form-check, .shiny-input-container .checkbox, .shiny-input-container .radio {
  min-height: 0rem;
  margin-bottom: 0rem;
}

.info-icon {
  color: #198fd1 !important;
  cursor: pointer;
  font-size: 1.25em;
}
.info-icon:hover {
  color: rgba(25,143,209,.8) !important;
}
