.wizard .wizard-nav.progress .wizard-step.active~.wizard-step {
  background-color: #ffffff !important; 
}

.wizard .wizard-nav.progress .wizard-step {
  background-color: #009C9F !important; 

}

.wizard .wizard-buttons {
  justify-content: space-between !important
}

// .modal-dialog.modal-default {
//   margin-top : 3vh;
// }

// .modal-body {
//   margin-top: 1.5vh;
// }