.wizard .wizard-nav.progress .wizard-step.active~.wizard-step {
  background-color: #ffffff !important; 
}

.wizard .wizard-nav.progress .wizard-step {
  background-color: #009C9F !important; 

}

.wizard .wizard-buttons {
  justify-content: space-between !important
}


.new_upload_button {
  width: auto !important;
  background-color: #19d184 !important;
  padding: 2px 12px !important;
  font-size: 13px !important;
  color: #ffffff  !important;
  margin: 6px 12px 6px 0px !important;
  height: 25px !important;
}

.new_upload_button:hover {
  background-color: #ffffff !important;
  color: #3181DE !important;
}

.modal-dialog.modal-default {
  margin-top : 3vh;
}
.modal-body {
  margin-top: 1.5vh;
}